{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <h1>GASTOS</h1>

    <div class="">
        <form class="" action="/gastos/" method="get">
          <div class="row">
            <div class="col-md-1">
                <label class="myLabel" style="margin-top:5px; margin-left:9px" for="">Filtros:</label>
            </div>
              <div class="col-md-5">

            <select class="form-control" name="mes" onchange="this.form.submit()">

                <option value="0">Escolha um mês</option>
                {% for key, value in meses %}  <!-- v in meses v = (1, "")-->
                        {{campo_mes}}
                        <option {% if key == mes %} selected {% endif %} value="{{key}}">{{value}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-md-5">
            <select class="form-control" name="tipo_gasto" onchange="this.form.submit()">
                <option value="0">Escolha um tipo de gasto</option>
                {% for key, value in tipos_gasto %}  <!-- v in meses v = (1, "")-->
                        <option {% if key == tipo_gasto %} selected {% endif %} value="{{key}}">{{value}}</option>
                {% endfor %}
            </select>
          </div>

          </div>
        </form>
    </div>

    <table id="tabela-gastos" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="gastos_info">
        <thead>
            <tr role="row">
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Custo</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for gasto in object_list %}
                <tr role="row">
                    <td>{{gasto.get_tipo_gasto_display}}</td>
                    <td>{{gasto.descricao}}</td>
                    <td>R$ {{gasto.custo}}</td>
                    <td>{{gasto.data.day}}/{{gasto.data.month}}/{{gasto.data.year}}</td>
                </tr>
            {% endfor %}
                <tr>
                  <td></td><td></td><td>Custo total: R$ {{custo_total}}</td>
                </tr>
        </tbody>
    </table>


    <div class="">
      <!-- INCLUINDO O HTML QUE GERA O FORM NA PG -->
      <h3>Adicionar novo gasto</h3>
      {% include "controle_gastos/form_novo_gasto.html" %}
    </div>







{% endblock content %}
