{% extends 'base.html' %}

{% block content %}
    <div class="box box-primary" width>
            <div class="box-header with-border">
              <h3 class="box-title">Deletar cliente</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="" method="post">
              {% csrf_token %}
              <div class="box-body">
                {% for campo in form %}
                  <div class="form-group">
                      <label class="myLabel">{{ campo.label }}:</label>
                          {{ campo }}
                  </div>
                {% endfor %}
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="button" class="btn btn-block btn-danger">Deletar</button>
              </div>
            </form>
          </div>
{% endblock content %}
