
{% load staticfiles %}

<h2>TESTE</h2>

<form class="" action="" method="post">
  {% csrf_token %}
  {{form}}
  <button type="submit" class="form-control" name="button">Adicionar</button>
</form>


<!-- <script src="{% static "js/jquery.inputmask.js" %}"></script>
<script src="{% static "js/jquery.inputmask.date.extensions.js" %}"></script>
<script src="{% static "js/jquery.inputmask.extensions.js" %}"></script> -->
<script >
//
// $(function () {
//   //Datemask dd/mm/yyyy
//   $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
//
// });

</script>
