
{% load staticfiles %}

<div class="box box-primary" width>
        <div class="box-header with-border">
          <h3 class="box-title">Adicionar cliente</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="" method="post">
          {% csrf_token %}
          <div class="box-body">
            {% for campo in form %}
              <div class="form-group">
                  <label class="myLabel">{{ campo.label }}:</label>
                      {{ campo }}
              </div>
            {% endfor %}
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>

<!-- <script src="{% static "js/jquery.inputmask.js" %}"></script>
<script src="{% static "js/jquery.inputmask.date.extensions.js" %}"></script>
<script src="{% static "js/jquery.inputmask.extensions.js" %}"></script> -->
<script >
//
// $(function () {
//   //Datemask dd/mm/yyyy
//   $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
//
// });

</script>
