{% extends 'base.html' %}

{% block content %}
      <table id="tabela-alugueis" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="alugueis_info">
          <thead>
              <tr role="row">
                  <th>Nome</th>
                  <th>Telefone:</th>
                  <th>Observação</th>
              </tr>
          </thead>
          <tbody>
              {% for cliente in object_list %}
                  <tr role="row">
                      <td><a href="update/{{cliente.id}}">{{cliente.nome}}</a></td>
                      <td>{{cliente.telefone}}</td>
                      <td>{{cliente.observacao}}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>

      {% include "controle_alugueis/form_novo_cliente.html" %}
{% endblock content %}
